<div class="jumbotron">
    <h1>www.Geo-bg.eu</h1>
    <p class="lead">Web api за трансформация на координати от координатна система 1970 в BGS Кадастрална</p>
    <p><a href="https://geo-bg.eu" class="btn btn-primary btn-lg">Посети Geo-bg &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Инженерногеоложки Дейности:</h2>
        <p>
            Оценка на геоложката обстановка преди етапа на проектиране на съоръженията<br />
            Полева оценка на геоложките рискове и инженерногеоложко картиране<br />
            Геотехническа характеристика на геоложката среда и инженерногеоложките пластове<br />
            Проучвателно инженерногеоложко сондиране, планиране, управление и надзор на сондажни дейности за геотехнически цели<br />
            Инженерногеоложки проучвания с лабораторни изследвания<br />
            Изготвяне на инженерно-геоложки доклади.<br />
            Полеви инженерно-геоложки изработки – шурфове и сондажи.<br />
            Пробовзимане с цел лабораторни изследвания.<br />
            Лабораторни инженерногеоложки изследвания за определяне на физикомеханичните параметри на скали и строителни почви<br />
            Цената е в зависимост от категорията на сградата и полевите работи.<br />
        </p>
        <p><a class="btn btn-default" href="http://www.geo-bg.eu/geo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Хидрогеоложки Дейности:</h2>
        <p>
            Изготвяне на проектна документация за легализация на стари и изграждане на нови вододобивни съоръжения (кладенци, изворни каптажи, дренажи)<br />
            Проектиране на санитарно – охранителни зони.<br />
            Изготвяне на оценка на ресурсите на подземните води.<br />
            Хидрогеоложко моделиране и оценка на миграцията на замърсители.<br />
            Проектиране на мониторингова мрежа за подземни и повърхностни води.<br />
            Мониторинг на подземни и повърхностни води.<br />
            Провеждане на водочерпения.<br />
            Предлагаме хидрогеоложко сондиране за изграждане на нови водовземни съоръжения.<br />
            Търсене и проучване на пресни, студени подземни води за целите на водоснабдяването<br />
            Търсене и проучване на термални води, като носител на геотермална енергия<br />
            Проучване на подземни води, като неблагоприятен фактор при строителство на сгради и съоръжения и проявления на геодинамични процеси и явления<br />
            Мониторинг на подземни води, във връзка с геоекологични проекти<br />
            Математическо моделиране (моделни анализи и проектиране) на комплексни хидрогеоложки задачи<br />
        </p>
        <p><a class="btn btn-default" href="http://www.geo-bg.eu/hydro">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Контакти</h2>
        <p><a href="mailto: ilievkosta@gmail.com">Send Email</a></p>
        <p><a class="btn btn-default" href="http://www.geo-bg.eu/">Learn more &raquo;</a></p>
    </div>
</div>
